@using System.Web.Mvc.Html
@using WebApplication2


@helper SBDialog(SBDialogParams param)
{
  
    // Get page and pull helper references from it.
    var wvp = PageContext.Page as System.Web.Mvc.WebViewPage;
    var Url = wvp.Url; // UrlHelper access
    var Html = wvp.Html; // HtmlHelper access
    var ViewBag = wvp.ViewBag;
    
    
    <script type="text/javascript">
        $(function () {
            $('#@param.Id').ssdialog({
                @if (param.Width.HasValue)
                {
                    @:  "width": @param.Width ,
                                }
                @if (param.Height.HasValue)
                {
                    @:  "height": @param.Height ,
                                }
                @if (!String.IsNullOrEmpty(param.Title))
                {
                @:  "title": '@param.Title' ,
                                }
                @if ( param.Expanded.HasValue )
                {
                @:  "expanded": @( param.Expanded.Value ? "true" : "false") ,
                                }
                @if ( param.Visibility.HasValue )
                {
                @:  "visibility": @( param.Visibility.Value ? "true" : "false") ,
                                }
                @if (!String.IsNullOrEmpty(param.AjaxUrl))
                {
                @:  "ajaxUrl": '@param.AjaxUrl' ,
                                }
                @if (!String.IsNullOrEmpty(param.EventOpened))
                {
                   @:   "opened": function () { window[@param.EventOpened].apply(this); },
                                }
                @if (!String.IsNullOrEmpty(param.EventClosing))
                {
                @:   "closing": function () {   window[@param.EventClosing].apply(this);    },
                                }
                @if (!String.IsNullOrEmpty(param.EventClosed))
                {
                @:   "closed": function () { window[@param.EventClosed].apply(this); },
                                }
            });
        });
    </script>
    <div id="@param.Id" class="dialog-container">
        <div class="popupBackground"></div>
        <div class="dialog dialogdetail">
            <div class="dialog-topLine" style="background-color: #34aadc; border-top-left-radius: 3px;
                                      border-top-right-radius: 3px; height: 40px;">
                <div style="float: left; padding-left: 10px; padding-top: 8px; font-weight: bold">
                    <span class="header_dialog">test</span>
                </div>
                <div class="dialog-closeButton">C</div>
                <div class="dialog-maximizeButton" style="float: right">M</div>
            </div>
            <div class="cnt" style="overflow: auto;">
                @if (!String.IsNullOrEmpty(param.Content))
                {
                    @Html.Raw(param.Content)
                }
            </div>
        </div>
    </div>
}