<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/sbdialog.js"></script>
    <script src="~/Scripts/sbalerts.js"></script>
    <script src="~/Scripts/sbtab.js"></script>

    <link href="~/Content/Master.css" rel="stylesheet"/>
    <link href="~/Content/sbtab.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

<div class="template-containers" style="display: none">

    <div class="alert-popup">
        <div class="alertBackground"></div>
        <div class="alertDialog">
            <div class="question-container">
                <span class="glyphicon glyphicon-question-sign btn-lg" aria-hidden="true"></span>
                <span class="question">გსურთ ოპერაციის შესრულება?</span>
            </div>
            <div class="alert-buttons">
                <div class="btn btn-danger" style="float: right; margin-left: 15px;">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    არა
                </div>
                <div class="btn btn-success" style="float: right">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    დიახ
                </div>
            </div>
        </div>
    </div>

    <div class="success-popup">
        <div class="alertBackground"></div>
        <div class="alertDialog">
            <div class="success-container">
                <span class="glyphicon glyphicon-ok btn-lg" aria-hidden="true"></span>
                <span class="success-text">ოპერაცია დასრულდა წარმატებით</span>
            </div>
            <div class="alert-buttons">
                <div class="btn btn-success" style="float: right">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    OK
                </div>
            </div>
        </div>
    </div>

    <div class="error-popup">
        <div class="alertBackground"></div>
        <div class="alertDialog">
            <div class="error-container">
                <span class="glyphicon glyphicon-remove btn-lg" aria-hidden="true"></span>
                <span class="error-text">შეცდომა ოპერაციის შესრულებისას</span>
            </div>
            <div class="alert-buttons">
                <div class="btn btn-danger" style="float: right">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    OK
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({
            error: function (x, status, error) {
                //if (x.status == 403) {
                //    alert("Sorry, your session has expired. Please login again to continue");
                //    window.location.href = "/Account/Login";
                //}
                //else 
                    alert("An error occurred: " + status + "nError: " + error);
                
            }
        });
    });
</script>

</body>
</html>
